<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/admin-panel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kite+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a57beecd2.js" crossorigin="anonymous"></script>
    <title>Admin panel | Weather Vision</title>
</head>

<body>
    <header>
        <img src="../images/car.jpg" alt="">
        <p>Martin Admin</p>
    </header>
    <main>
        <table id="users-container">
            <tr id="user-title">
                <th id="username-sort">Username</th>
                <th id="role-sort">User Role</th>
                <th>Actions</th>
            </tr>
            <tr class="user">
                <td class="user-info">
                    <img src="../images/car.jpg">
                    <ul>
                        <li class="bold">AdminUsername</li>
                        <li class="thin">Martin Georgiev</li>
                        <li class="thin">martin_georgiev02@abv.bg</li>
                    </ul>
                </td>
                <td class="user-roles">
                    <div>
                        <p class="role-user">User</p>
                        <p class="role-user">User</p>
                    </div>
                </td>
                <td class="user-actions">
                    <div>
                        <p class="edit"><i class="fa-solid fa-gear"></i> Modify User</p>
                        <p class="remove"><i class="fa-solid fa-xmark"></i> Delete User</p>
                    </div>
                </td>
            </tr>
            <tr class="user">
                <td class="user-info">
                    <img src="../images/car.jpg">
                    <ul>
                        <li class="bold">AdminUsername</li>
                        <li class="thin">Martin Georgiev</li>
                        <li class="thin">martin_georgiev02@abv.bg</li>
                    </ul>
                </td>
                <td class="user-roles">
                    <div>
                        <p class="role-user">User</p>
                        <p class="role-user">User</p>
                    </div>
                </td>
                <td class="user-actions">
                    <div>
                        <p><i class="fa-solid fa-gear"></i> Modify User</p>
                        <p><i class="fa-solid fa-xmark"></i> Delete User</p>
                    </div>
                </td>
            </tr>
            
        </table>
    </main>
    <script src="../scripts/admin-panel.js" type="module"></script>
</body>

</html>