@import url("./base.css");

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
}

header{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--main-color);
}

header img{
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
}

header p{
    color: white;
    font-size: 1.2rem;
}

main #header-options{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
    width: 80%;
    height: 5%;
    border: solid 1px var(--border);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

main #reset{
    background-color: var(--main-color);
    color: white;
    border-style: none;
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    position: relative;
    right: 35%;
    bottom: 1%;
}

main #reset:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}

/* Start of button navigation */

main .button-navigation{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1rem;
    
}

main .buttons-container{
    display: flex;
    justify-self: center;
    list-style: none;
    gap: 1rem;
}

main .button-navigation .input-container input{
    font-size: 1.2rem;
}

main .button-navigation .input-container a{
    background-color: var(--main-color);
    font-size: 1rem;
    padding: 0rem 0.2rem;
    color: white;
    border-radius: 1rem;
   
}

main .button-navigation .input-container a:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

main .button-navigation .buttons-container a{
    background-color: var(--main-color);
    color: white;
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
    border: 2px solid transparent;
}

main .button-navigation .buttons-container a:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

main .button-navigation .buttons-container .selected{
    border-color: red;
}

main .button-navigation .buttons-container .dots{
    background-color: transparent;
    color: black;
}

main .button-navigation .buttons-container .dots:hover{
    background-color: transparent;
    cursor: auto;
}

/* End of button navigation */

/* Start of users containers */

table{
    border-collapse: collapse;
}

th{
    border: solid 1px var(--border);
    border-left: none;
    border-right: none;
}

th:first-child{
    border: solid 1px var(--border);
    border-right: none;
}

th:last-child{
    border: solid 1px var(--border);
    border-left: none;
}

/* th{
    border: solid 1px var(--border);

} */

main #users-container{
    width: 80%;
}

main #users-container #user-title{
    text-align: left;
}

#username-sort{
    padding-left: 1rem;
    width: fit-content;
}

main #users-container .user{
    border-bottom: solid 1px var(--border);
}

main #users-container .user:hover{
    background-color: rgb(229, 229, 229);
}

main #users-container .user td{
    padding: 1rem 0;
}

main #users-container .user .user-info{
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
}

main #users-container .user .user-info img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

main #users-container .user .user-info ul{
    list-style: none;
}

.bold{
    font-weight: bold;
}

.thin{
    font-weight: lighter;
    color: gray;
}

main #users-container .user .user-roles{
    width: 20%;
}

main #users-container .user .user-roles div{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    
}

main #users-container .user .user-roles p{
   
    padding: 0.4rem;
}

.role-user{
    color: white;
    background-color: green;
    border-radius: 45%;
    
}

.role-admin{
    color: white;
    background-color: red;
    border-radius: 45%;
}

main #users-container .user .user-actions{
    width: 20%;
}

main #users-container .user .user-actions div{
    display: flex;
    gap: 1.2rem;
}

main #users-container .user .user-actions div button{
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

main #users-container .user .user-actions div .edit:hover{
    cursor: pointer;
    color: var(--main-color);
}

main #users-container .user .user-actions div .remove:disabled{
    color: gray;
    cursor: not-allowed;
}

main #users-container .user .user-actions div .remove:not(:disabled):hover{
    color: red;
    cursor: pointer;
}


/* End of users containers */