@import url("./base.css");

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
}

header{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--main-color);
}

header img{
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
}

header p{
    color: white;
    font-size: 1.2rem;
}

/* Edit container start */

#edit-container{
    border: solid 1px;
    border-color: var(--border);
    border-radius: 2px;
    gap: 1rem;
    width: 30em;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#edit-container .edit-row{
    display: flex;
    flex-direction: column;
}

/* dropdown imgs start */

#edit-container .profile-img{
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#edit-container .profile-img img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

#edit-container .profile-img{
    position: relative;
}

#edit-container .profile-img #drop-down-images{
    display: none;
    position: absolute;
    top: 105%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#edit-container .profile-img #drop-down-images img{
    border: 2px solid transparent;
}



#edit-container .profile-img #drop-down-images img:hover{
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.selected {
    border: 2px solid var(--main-color) !important; 
}

.close-icon{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.close-icon:hover{
    color: rgb(35, 35, 35);
    cursor: pointer;
}
/* dropdown imgs end */

#edit-container .double-row{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

#edit-container .double-row div{
    width: 100%;
}

#edit-container input, #edit-container .selectors{
    font-size: 1.2rem;
    padding: 0.2rem;
    border: solid 1px var(--border);
    border-radius: 2px;
    outline: none;
    width: 100%;
}

#edit-container .selectors:hover{
    cursor: pointer;
}

#edit-container input:focus{
    border-color: var(--hover-border);
}

.error-msg{
    color: var(--error-color);
    font-weight: bold;
}

.error-input{
    border-color: var(--error-color) !important;    
}
.error-input:focus{
    border-color: var(--error-hover) !important;    
}

#edit-container .dates-row{
    display: flex;
    flex-direction: row;
}

#edit-container #save-input{
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
    padding: 0.4rem;
    font-size: 1.2rem;
}

#edit-container #save-input:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

#edit-container #save-input:disabled{
    filter: grayscale(50%);
    cursor: not-allowed;
}

/* Edit container end */