@import url("./base.css");

#login-register{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Start login container */

main #login-register #login-container{
    width: 20em;
    padding: 2rem;
    border: solid 1px;
    border-color: var(--border);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #login-register #login-container input{
    font-size: 1.2rem;
    padding: 0.2rem;
    border: solid 1px;
    border-color: var(--border);
    border-radius: 2px;
    outline: none;
    width: 100%;
}

main #login-register #login-container input:focus{
    border-color: var(--hover-border);
}

main #login-register #login-container input[type=submit]{
    background-color: var(--main-color);
    width: 100%;
    border: none;
    color: white;
}

main #login-register #login-container input:disabled[type=submit]{
    filter: grayscale(50%);
    cursor: not-allowed;
}

main #login-register #login-container input:not([disabled])[type=submit]:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

main #login-register #login-container #error-msg{
    display: none;
    color: red;
    font-weight: bold;
}

main #login-register #login-container #remember-checkbox-container input{
    width: fit-content;
}

main #login-register #login-container #remember-checkbox-container{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    
}
/* End Login container */

/* Start of register container */

main #register-container{
    margin-top: 1rem;
    border: 1px solid;
    border-color: var(--border);
    width: 20em;
    text-align: center;
    padding: 1rem 0;
}


/* End of register container */